{% extends 'base.html.twig' %}

{% block title %}Departement index{% endblock %}

{% block body %}
    <h1>Departement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Nbrheure</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departement in departements %}
            <tr>
                <td>{{ departement.id }}</td>
                <td>{{ departement.name }}</td>
                <td>{{ departement.nbHeure }}</td>
                <td>
                    <a href="{{ path('departement_delete', {'id': departement.id}) }}">Delete</a>
                    <a href="{{ path('departement_edit', {'id': departement.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('departement_add') }}" class="btn btn-primary">Add Departement</a>
{% endblock %}

